<div class="input-group input-group-sm tree-search-input">
    <input class="form-control" type="text" placeholder="过滤">
    <span class="input-group-addon tree-search-cancel"><span class="glyphicon glyphicon-remove"></span></span>
</div>