<div>
    <div class="input-group input-group-sm ow-v-b-ph-5px">
        <input id="<%= id %>-filter" class="form-control" type="text">
        <span class="input-group-addon ow-clickable"><span class="glyphicon glyphicon-remove"></span></span>
    </div>
</div>